<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/styles.css" />
    <title>Euler Integration</title>
  </head>
  <body>
    <div class="">
      <a href="../../index.html" class="back-button default-text-color">Back</a>
      <canvas id="canvas"></canvas>
    </div>

    <div class="">

    </div>

    <script src="../../scripts/vector.js"></script>
    <script src="../../scripts/canvas.js"></script>
    <script src="../../scripts/2-numerical-integration/ball.js"></script>
    <script src="../../scripts/2-numerical-integration/eular-integration/main.js"></script>
  </body>
</html>